@import 'variables';

header {
min-height: 5vh;
background-color: #ffffff;
box-shadow: 0 4px 6px 1px rgba(0, 0, 0, 0.1);

a {
  text-decoration: none;
  align-self: center;
  color: black;
  transition: 0.15s ease-in-out;
}

.sign-up-link,
.login-link,
.page-links {
  margin: 0.25rem 0  0 1rem;
}

.cart-icon,
.login-link {
border-radius: 5px;
padding: 0.5rem 0.75rem;

&:hover {
background-color: hsl(0, 0%, 98%);

}
}

.cart-icon {
padding: 0.25rem !important;
}

.sign-up-link {
@include orange-btn
}

.header-left {
a {
&:hover {
color: $primary-orange;
}
}
}

nav {
@include space-between;
padding: 0.5rem 3rem;

.header-right,
.header-left {
display: flex;
gap: 16px;
}

.site-title {
color: $primary-orange;
font-weight: bold;
font-size: 1.5rem;
}

}

.cart-icon {
font-size: 25px;
}

}
@media (max-width: 991px) {
.cart-icon {
display: none;
}
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  transition: background-color 0.3s ease;
  background-color: white;

&.scrolled {
   background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  }
}
