@import "variables";

.card-link {
text-decoration: none;


.card {
border-radius: 15px;
transition: 0.2s ease-in-out;
box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);

&:hover {
transform: translateY(-5px);
box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
}

.add-to-cart-btn {
@include orange-btn;
width: 100%;
}

.star-rating {
color: $primary-yellow;
}

.product-price {
color: $primary-orange;
font-weight: bold;
font-size: 1.25rem;
}

}

}
